<p style="color: green"><%= notice %></p>

<%= render @procedure %>

<div>
  <%= link_to "Edit this procedure", edit_procedure_path(@procedure) %> |
  <%= link_to "Back to procedures", procedures_path %>

  <%= button_to "Destroy this procedure", @procedure, method: :delete %>
</div>
